{% extends "layout.html" %}

{% block title %}
Shoddy AAPI
{% endblock %}

{% block scripts %}

{% endblock %}

{% block body %}
<div class="container">
  <h1>API reference for ShoddyAnalytica </h1>
  <p>All requests will return a JSON object.</p>
  <b>All requests must be authenticated with a token</b>

    <p>Your API token is: {{ session.utoken[0]  }}</p>


      <h3>General Data Out:</h3>


  <h3>Author Handling:</h3>
  <p>Returns Account data for the specified user</p>
  <p>/api//data?token={{ session.utoken[0] }}</p>
  <br>
  <br>

  <h2>Tweet Handling:</h2>

  <h3>TopTweets</h3>
  <a>/api/neuralnet?token={{ session.utoken[0] }}&end=NumberOfTweetsToReturn</a>
  <iframe src="/api/trishapaytas/toptweet?token={{ session.utoken[0] }}&end=3" onload="this.width=screen.width;this.height=screen.height;"></iframe>

  <h3>Neural Net Output</h3>
  <p>Outputs last run of the Neural network - to refresh the data make a POST request</p>
  <a>/api/neuralnet?token={{ session.utoken[0] }}</a>
  <iframe src="/api/neuralnet?token={{ session.utoken[0] }}"" onload="this.width=screen.width;this.height=screen.height;"></iframe>

  <h3>Followers</h3>

  <h3>Following</h3>
</div>
{% endblock %}
