{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/static/CSS/login.css">
<script type="text/javascript" src="/static/JS/register.js"></script>
{% endblock %}



{% block body %}
<div class="container">
      <form method="post">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
          <h1>Password Reset</h1>

          <div class="form-group">
            {{ form.password.label(class="form-control-label")  }}
            {% if form.password.errors %}
              {{form.password(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span> {{ error }}</span>
                {% endfor %}

              </div>
            {% else %}
              {{ form.password(class="form-control from-control-lg")  }}
            {% endif %}
</div>
          <div class="form-group">
            {{ form.confirm_pass.label(class="form-control-label")  }}

            {% if form.confirm_pass.errors %}
              {{form.confirm_pass(class="form-control form-control-lg is-invalid")}}
              <div class="invalid-feedback">
                {% for error in form.confirm_pass.errors %}
                  <span> {{ error }}</span>
                {% endfor %}

              </div>
            {% else %}
              {{ form.confirm_pass(class="form-control from-control-lg")  }}
            {% endif %}
          </div>

        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-primary")}}
        </div>
  <div class = "border-top pt-5">
    <small class="text-muted">
      <a href="{{ url_for('users.login') }}">
           Returning user? - Login here
      </a>
    </small>
  </div>



</div>


{% endblock %}
